  /* ========= GOOGLE FONT ======== */
  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:wght@300;700;900&family=Poppins:wght@400;600&display=swap');
 
  /* ========= VARIABLES CSS ======== */
  :root {
    /* ====== Colors ===== */
    /* Color mode hsl (hue, saturation, lightness)*/
    --primary-color: hsl(260, 100%, 50%);
    --secondary-color: hsl(190, 100%, 50%);
    --third-color: hsl(54, 100%, 50%);
    --fourth-color: hsl(215, 0%, 32%);
    --botton-color: hsl(260, 100%, 50%);
    --text-color: #fff;
    --body-color: hsl(260, 24%, 6%);
    /* ====== Font and typography ===== */
    --body-font: 'Poppins', sans-serif;
    --base-font-size: 1rem;
  }
 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: var(--body-font);
    font-size: var(--base-font-size);
    background-color: var(--body-color);
  }

  a{
    text-decoration: none;
  }

  /* ========= BUTTON STYLE ====== */
  .container{
    height: 100vh;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
  }
  .button__text{
    position: relative;
    z-index: 10;
  }

  .button__content{
    position: relative;
    background-color: var(--button-color);
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-weight: 600;
    overflow: hidden;
  }

/* ==== BUTTON SHAPES ==== */

.button__content div{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: aquamarine;
  position: absolute;
  inset: 0;
  margin: auto;
  filter: blur(12px);

}
.button__shape-1{
  background-color: var(--primary-color);
  transform: translate(-48px, -16px);
}
.button__shape-2{
  background-color: var(--secondary-color);
  transform: translate(-12px, 16px);
}
.button__shape-3{
  background-color: var(--third-color);
  transform: translate(-20px, 16px);
}
.button__shape-4{
  background-color: var(--fourth-color);
  transform: translate(48px, -16px);
}

/* BUTTON SHADOW */
.button__shadow {
  width: 80%;
  height: 1rem;
  background: linear-gradient(80deg, var(--first-color 10%));
}